<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>路由的概念及基本知识点</title>
</head>
<body>
<!--
        1 后端路由
           概念： 根据不同的用户URL请求，返回不同的内容
           本质：URL请求地址与服务器资源之间的对应关系

        2.SPA(single Page Application)
            单页面应用程序：整个网站只有一个页面，内容的变化通过Ajax局部更新实现，同时支持浏览器地址栏的前进和后退操作
           （单独的Ajax前端渲染能提高性能，但是不支持浏览器的前进后退操作）
           SPA实现原理之一: 基于URL地址的hash(hash的变化会导致浏览器记录访问历史的变化，但是hash的变化不会触发新的URL请求)
           在实现SPA过程中，最核心的技术点就是前端路由

         3.前端路由
                概念：根据不同的用户事件，显示不同的页面内容
                本质：用户事件与事件处理函数之间的对应关系（前端路由就是负责事件监听，触发事件后，通过事件函数渲染不同内容）

-->
</body>
</html>